{% extends 'base.html.twig' %}

{% block title %}{{"Une erreur s'est produit"|trans}}{% endblock %}

{% block body %}
    <h1>{{"Une erreur s'est produit"|trans}}</h1>
    <p>{{"Une erreur s'est produit, contactez un administrateur."|trans}}</p>
{% endblock %}