.icons {
  text-align: center;
  vertical-align: bottom;
}

.lang-collapse {
  left: 158px;
}

.lang-menu-sub {
  background: #3b6394;
  width: 80px;
  height: 0;
}

.lang-menu-sub > ul.list-group > a.list-group-item {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding-top: 0;
  height: 100%;
  line-height: 35px;
  color: white;
}

.lang-menu-sub > ul.list-group > a.list-group-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.asideBottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.form-control {
  background: #efefef !important;
  height: 45px !important;
  margin-bottom: 15px !important;
  padding: 0 12px !important;
  border: 2px solid #c7cab3 !important;
}

.bg-table {
  background: #3b63947d !important;
}

.bg-footer {
  background: #d4d4d4 !important;
}

.btn-primary {
  background-color: #3b6394 !important;
}

/* DataTable */
.dataTable-wrapper.no-footer .dataTable-container {
  border-bottom: 0 !important;
  height: 100% !important;
}

.dataTable-input {
  background: #efefef !important;
  height: 45px !important;
  margin-bottom: 15px !important;
  padding: 0 12px !important;
  border: 2px solid #c7cab3 !important;
}

.title-card {
  text-transform: uppercase;
  color: #2e3a4e;
  font-size: 20px;
  font-family: 'Montserrat', 'proxima-nova_bold', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.languageDropdown.logout {
  position: absolute;
  right: 13rem;
  height: 48px !important;
  width: 5rem;
  top: 0;
}

.languageDropdown.login {
  position: absolute;
  right: 5rem;
  height: 48px !important;
  width: 5rem;
  top: 0;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .languageDropdown.logout {
    position: absolute;
    right: 32rem;
    height: 48px !important;
    width: 5rem;
    top: 0;
  }
  .languageDropdown.login {
    position: absolute;
    right: 39rem;
    height: 48px !important;
    width: 5rem;
    top: 0;
  }
}

@media (max-width: 575.98px) {
  .languageDropdown.logout {
    position: absolute;
    right: 6.5rem;
    height: 48px !important;
    width: 5rem;
    top: 0;
  }
  .languageDropdown.login {
    position: absolute;
    right: 13.5rem;
    height: 48px !important;
    width: 5rem;
    top: 0;
  }
}

.languageDropdown button {
  background-color: #0f1e3821 !important;
  height: 64.5px;
}

.languageDropdown button::after {
  display: none !important;
}

.languageDropdown button i {
  font-size: 23px;
}

article.shop {
  height: 181px;
}

article div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main article.card {
  width: 100% !important;
}

main article.card .card-header h2 {
  z-index: 9;
  font-family: 'proxima-nova_bold', Helvetica, Arial, sans-serif;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-shadow: 0 0 5px #000000, 0 0 3px #000000, 0 0 1px #000000;
  font-size: 20px;
  line-height: 22px;
  padding: 15px;
  background: linear-gradient(to top, #202c24 15%, rgba(0, 0, 0, 0));
  color: white;
  left: 0;
}

main article.card .card-footer {
  background: #d4d4d4 !important;
}

.search {
  box-shadow: none !important;
  padding: 0.5rem !important;
}

.pagination-detail {
  display: none !important;
}

/********** FOOTER **********/
footer {
  width: 100%;
  height: 85px;
  background-color: #335580;
  opacity: 1 !important;
  color: white;
}

@media (max-width: 575.98px) {
  footer {
    height: 160px;
  }
}

footer a {
  font-family: 'proxima-nova_bold', Helvetica, Arial, sans-serif;
}

#news.read .h2,
#news.read h2 {
  font-size: calc(1.325rem + .9vw) !important;
}

#news.read .h3,
#news.read h3 {
  font-size: calc(1.3rem + .6vw) !important;
}

.slot {
  padding: 8px;
  border: 1px solid;
  background: gray;
  margin-bottom: 1rem;
}

.category_tag {
  padding: 0.2rem;
  position: absolute;
  top: 0;
  z-index: 1;
  min-width: 100px;
  color: white;
  max-width: 300px;
}

.category_tag span {
  color: white;
  opacity: 1;
}
