// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "_variables.scss";

// Import Bootstrap
@import "../vendor/bootstrap/scss/bootstrap.scss";

// Import Custom SB Admin 2 Mixins and Components
@import "_mixins.scss";
@import "_global.scss";
@import "_utilities.scss";

// Custom Components
@import "_dropdowns.scss";
@import "_navs.scss";
@import "_buttons.scss";
@import "_cards.scss";
@import "_charts.scss";
@import "_login.scss";
@import "_error.scss";
@import "_footer.scss";

.slot {
    padding: 8px;
    border: 1px solid;
    background: gray;
    margin-bottom: 1rem;
}

select[readonly]
{
    pointer-events: none;
}